.button {
	width: 100px;
	height: 30px;
	color: white;
	background: black;
	font-family: arial;
	font-size: 16px;
	border: 0px;

}
.nav {
	font-family: arial;
}
h1 {
	font-family: arial;
	font-weight: bold;
	font-size: 20px;

}
body{
	width: 80%;
	margin: auto;
}
.block {
	width: 200px;
	height: 200px;
	background: black;
	position: relative;
	bottom: -100px;
}
.box {
	width: 75vw;
	height: 100px;
}

.nav {
	margin-left: 300px;
}

li {
	float: left;
	list-style: none;
	font-family: arial;
	font-size: 29px;
	padding: 20px;
   

}
img {
	position: relative;
	right: -200px;
}

@media screen and (max-width: 523px){
	.manu {
		position: relative;
		left: -300px;
		bottom: -200px;

	}
	img {
		position: relative;
		left: -100px;
		bottom: -200px;
	}
	li {
		float: none;
		list-style: none;
		font-family: arial;
		font-size: 16px;


	}
	ul {
		padding-left: 0px;
	}
}