@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

.title {
	background-image: url(https://github.com/risdweb17/yolanda/blob/gh-pages/yolandahe/resume/img/image4.JPG?raw=true); 
	height: 747px;
  	background-position: bottom center;
}

h1 {
  color: #FFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 90px;
  letter-spacing: 0.3em;
  margin: 0;
  padding-top: 320px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 0.3em;
  
}
body {
  padding: 0;
  margin: 0;
  background-color: #f5a6b9;
  text-align: center;
}
.information {
	 color: #1E1E24;
  	 font-family: 'Poppins', sans-serif;
}

.circle {
	padding-top: 100px;
	text-align: center;
}
.information {
	font-family: 'Montserrat', sans-serif;
	float: left;
	margin-left: 580px;
}
.education {
	font-family: 'Montserrat', sans-serif;
	float: left;
	margin-left: 465px;
	font-size: 16px
	font-weight: normal;
	padding-top: 50px;
}
#educationtitle {
	font-weight: 900;
	font-size: 25px;
}
.skills {
	font-family: 'Montserrat', sans-serif;
	float: left;
	margin-left: 390px;
}
#skillstitle {
	font-weight: 900;
	font-size: 25px;
	margin-right: 20px;
}

