
h2 {
	float: left;
	padding: 20px;
	font-size: 70px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: black;

}
.container {
	text-align: center;
	margin-left: 40px;

}
body {
	font-family: 'Andale Mono', 'Andale Mono WT', Consolas, sans-serif;

}
h1 {
	font-size: 100px;
	text-align: center;
	margin-bottom: 30px;

}
#pp {
	padding-top: 140px;
}
h2:hover {
	background-color: black;
	color: white;
}