
p {
	float: left;
	padding: 10px;
	font-size: 20px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: black;
	font-weight: bold;



}
.container1 {
	flex:1;
	padding-right: 50px;
	padding-left: 50px;
}
.container2 {
	flex: 1;
	padding-right: 50px;
}
body {
	font-family: 'Andale Mono', 'Andale Mono WT', Consolas, sans-serif;
	display: flex;
}
h1 {
	font-size: 100px;
	float: left;
	margin-top: 100px;
	margin-bottom: 20px;
	margin-left: 0px;
	margin-right: 125px;

}
p:hover {
	background-color: black;
	color: white;
}
h3 {
	font-size: 50px;
	clear: both;
	font-weight: bold;

}
#three{
	font-size: 80px;
	margin-bottom: 0px;
	width: 500px;
}
#four {
	margin-top: 10px;
	margin-bottom:9px;
	font-size: 47px;
	width: 500px;

}
#five {
	margin: 0px;
	font-size: 25px;
	width: 180px;

}
#three:hover {
	background-color: blue;
}
#four:hover {
	background-color:yellow;
}
#two:hover {
	background-color:red;
}
#one:hover {
	background-color:yellow;
}
#five:hover {
	background-color: red;
}
* {
		text-decoration: none;
		color: black;
}