body{
	font-family: 'Times', sans-serif;

}
h1, h3{
	text-align: center;
	font-weight: bold;
	font-family: 'Indie Flower', cursive;
	font-size: 150px;
	line-height: 0.02em;
}
h3 {
	margin-top: 50px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 50px;

}
ul h2 {
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	font-size: 40px;
	
}

.imagebox {
	margin-top: 100px;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-left: 250px;
	float: left;
	width: 20%;
}

.box {
	width: 50%;
	float: right;	  	
}

