* {
 margin:0;
 padding:0;
}

body {
 font-family: 'Andale Mono', 'Andale Mono WT', Consolas, sans-serif;
 font-size:12px;
 display: flex;

}
ul {
 margin:50px;
 margin-left: 150px;
 list-style:none;
 width:100px;
}
a {
 padding:10px 20px;
 background:#000;
 color:#fff;
 text-decoration:none;
 text-transform:capitalize;
 display:block;
}

#f:hover{
	background: red;
 	color:#000;
}
#s:hover{
	background: blue;
 	color:#000;
}
#t:hover{
	background: yellow;
 	color:#000;
}

img {
	width: 900px;
	height: 608px;
	cursor: url(img/2.png) ,pointer;

}
.img {
	justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-left:10px;

}