

* {
 margin:0;
 padding:0;
}

body {
 font-family: 'Andale Mono', 'Andale Mono WT', Consolas, sans-serif;
 font-size:12px;

}
ul {
 margin:50px;
 margin-left: 150px;
 list-style:none;
 width:100px;
 position: fixed;
}
a {
 padding:10px 20px;
 background:#000;
 color:#fff;
 text-decoration:none;
 text-transform:capitalize;
 display:block;
}

.container{
	display: flex;
}

#f:hover{
	background: red;
 	color:#000;
}
#s:hover{
	background: blue;
 	color:#000;
}
#t:hover{
	background: yellow;
 	color:#000;
}



* {
	padding: 0;
	margin: 0;
}
#main {
	flex: 1;
/*	-webkit-column-count: 3;
	-moz-column-count: 3;
	column-count: 3;
	-moz-column-gap:20px;
	-webkit-column-gap:20px;
	column-gap:40px;*/
	padding: 50px;
}

.box {
/*	float: left;*/
width: 250px;
}

.box img {
	width: 90%;
	margin-bottom: 40px;
}
.container img:hover {
	width: 550px;
	transition: 1.5s;
}
#on {
	position: absolute;
	z-index: 10;
}
nav {
	width: 300px;
	margin-right: 0px;

}
@media screen and (max-width: 1196px){
	#main {
		 padding-right: 50px;
	}
}

@media screen and (max-width: 1160px){
	#main {
		 padding-right: 0px;
	}
}
@media screen and (max-width: 1010px){
	#main {
		 padding-right: 0px;

	}
}
@media screen and (max-width: 816px){
	.nav {
		float: left;
		margin: 0px;
	}
	ul {
		margin: 0px;
		margin-top:50px;
	}
}

