.button {
	width: 100px;
	height: 30px;
	color: white;
	background: black;
	font-family: arial;
	font-size: 16px;
	border: 0px;

}
h1 {
	font-family: arial;
	font-weight: bold;
	font-size: 20px;

}
body{
	width: 80%;
	margin: auto;
}
.block {
	width: 200px;
	height: 200px;
	background: black;
	position: relative;
	bottom: -100px;
}
.box {
	width: 75vw;
	height: 100px;
}