
body {
	margin: 0;
	background-color: #ebe2df;
	
}
.container {
	display: flex;
}
.image {
	flex:1;
	z-index: 0;
}
#image1 {
	position: relative;
	top: 310px;

}
#image2 {
	margin-left: 55px;
	position: relative;
	top: 180px;
}
#image3 {
	margin-left: 55px;
	position: relative;
	top: 80px;
}
#image4 {
	margin-left: 55px;
	float: right;
}

h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	color: #455e68;
	font-size: 20px;
	bottom: 275px;
	width: 80px;
	padding: 10px;
	margin-left: 95px;
	text-align: center;
	position: relative;
	background-color: #ebe2df ;
	box-shadow:6px 6px #dcd4d1;
	letter-spacing: 0.1em;
	text-decoration: none;

}

h1:hover {
	background-color: #597986;
	color: #ebe2df ;
}

h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	color: #455e68;
	font-size: 20px;
	bottom: 275px;
	width: 120px;
	padding: 10px;
	margin-left: 80px;
	text-align: center;
	position: relative;
	background-color: #ebe2df ;
	box-shadow:6px 6px #dcd4d1;
	letter-spacing: 0.1em;
}
h2:hover {
	background-color: #597986;
	color: #ebe2df ;
}
h3 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	color: #455e68;
	font-size: 20px;
	bottom: 290px;
	width: 70px;
	padding: 5px;
	margin-left: 115px;
	text-align: center;
	position: relative;
	background-color: #ebe2df ;
	box-shadow:6px 6px #dcd4d1;
	letter-spacing: 0.1em;

}
h3:hover {
	background-color: #597986;
	color: #ebe2df ;
}
h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
	color: #455e68;
	font-size: 20px;
	bottom: 260px;
	width: 110px;
	padding: 5px;
	margin-left: 110px;
	text-align: center;
	position: relative;
	background-color: #ebe2df ;
	box-shadow:6px 6px #dcd4d1;
	letter-spacing: 0.1em;
}

h4:hover {
	background-color: #597986;
	color: #ebe2df ;
}

* {
	text-decoration: none;
}

