.container {
	margin-top: 50px;
	margin-bottom: 50px;
	margin-left: 140px;
}

body {
		background-color: #ede5e0;
}

.box1 {
	background: url('img/w2.jpg') center center;
	min-height: 720px;
	width: 480px;
	display: flex;
  	justify-content: center;
  	align-items: center;

}

.box2 {
	margin-left: 150px;
	align-items: center;
	align-self: center;
	background: url('img/w3.jpg') center center;
	min-height: 720px;
	display: flex;
	justify-content: center;
	width: 480px;
	position: relative;
	bottom: 720px;
	left: 480px;
}