
body {
	margin: 0;

}

.box {
	background: url('img/w11.jpg') no-repeat;
 	background-position: center;
 	display: flex;
 	height: 800px;
  	justify-content: center;
  	align-items: center;

  
}

h1 {
	color: white;
	text-align: center;
	font-size: 22px;
	letter-spacing: 0.2em;
	font-family: 'Montserrat', sans-serif;

}
h1:hover {
	background-color: #000;
	color: #FFF;
}
* {
	text-decoration: none;
}
p {

	position: relative;
	left: 260px;
	font-family: 'Montserrat', sans-serif;
}