
body {
	margin: 0;

}

.box {
	background: url(https://github.com/risdweb17/yolanda/blob/gh-pages/yolandahe/project2/subfolder/2.JPG?raw=true) no-repeat;
 	background-position: center;
 	display: flex;
 	height: 800px;
  	justify-content: center;
  	align-items: center;

  
}

h1 {
	color: black;
	text-align: center;
	font-size: 22px;
	letter-spacing: 0.2em;
	font-family: 'Montserrat', sans-serif;

}
h1:hover {
	background-color: #000;
	color: #FFF;
}
* {
	text-decoration: none;
}